# Exercise 2 Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction

# Exercise 10 - Insert a markdown cell to list Objectives

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* List popular libraries used for Data Science
* List open source tools used for Data Science
* List examples of commercial and cloud-based data science tools.

# Exercise 4 - Create a markdown cell to list data science languages

In [ ]:
Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SKLearn

# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
----------------------
| Jupyter Notebook |
| Jupyter Lab |
| VSCode|

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

# Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Ramatu Baba Safiano